.modalInputSearch{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin:5px;
    padding: 5px;
    border: 5px;
    
  }
  
  .clinputSearch{
    width:18%;
    height: 45px;
     
  
  }
  .cllabel{
    margin: 5px;
  }